body {
	background-color: #080808;
	color: #86ea16;
		font-family: "Roboto Mono", monospace;
		font-optical-sizing: auto;
		font-weight: normal;
		font-style: normal;
		font-size: 12px;
		margin: 0;
		padding: 0;
}

html, body {
    scrollbar-width: thin; 
}

