@font-face {
  font-family: DefaultSerif;
  src: url('/xp/resources/noto-sans.woff2');
}
body {
  margin: 0;
  font-family: DefaultSerif, Helvetica, Tahoma, Arial Narrow, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #FFF;
}
#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2033A5;
}
#logoWrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
#logo {
  display: inline-block;
  width: 15vw;
  height: 15vw;
  margin: 0;
}
#tip {
  padding: 10px;
  font-weight: bold;
}
#content {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5B7DDB;
  border-top: solid 1px #BADFF5;
  border-bottom: solid 1px #BADFF5;
}
#left {
  margin: 0;
  min-height: 25vh;
  border-right: solid 1px #BADFF5;
}
#loginWrap {
  width: 45vw;
  background: linear-gradient(90deg, #1745A9, #1745A9, #3058B9, #3B65C5, #5A7BE7);
  border-radius: 5px;
  box-shadow: -1px -1px 2px #95B4EE;
  margin: 10px;
  color: #FFF;
  padding: 10px;
  position: relative;
}
#accImg {
  height: 10vh;
  width: 10vh;
  border: solid 2px #F1BB08;
  border-radius: 2px;
  float: left;
}
#name {
  margin: 5px;
  padding-left: 11vh;
  font-size: 13pt;
  font-weight: bold;
}
#cc {
  height: 10vh;
}
#hint {
  margin: 7px;
  padding-left: 11vh;
  color: #FFF;
  font-size: 10pt;
}
#inputWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -15px;
  left: 30%;
  margin: 0;
  padding: 0;
}
#password {
  height: 20px;
  width: 25vw;
  max-width: 250px;
  border-radius: 5px;
  box-shadow:  2px 2px 2px #000;
  border: none;
  outline: none !important;
  padding: 5px;
  font-size: 12pt;
}
#enter {
  height: 28px;
  width: 28px;
  border-radius: 5px;
  border: solid 1px #FFF;
  margin-left: 5px;
  cursor: pointer;
}