

.aalbum {
    margin: 0;
    font-family: "Margarine";
    font-size: 16px;
    width: 250px;
    height: 240px;
    left: 0;
    top: 0;
    right: 0;
    background: url(../images/album/bg.jpg);
    background-size: cover;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#album {
    position: absolute;
    background-image: url("../images/album/album2.png?");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 450px;
    height: 320px;
    transform: scale(var(--scale)) translate(-47%, -100%);
    transition: 1s ease;
    border: 2px solid #000;
    border-right-width: 2px;
    z-index: 1;
}
#album-cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../images/album/album_cover.png?");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 170px;
    height: 230px;
    transform-origin: right bottom;
    transition: 1s ease;
    z-index: 1;
}
#hands {
    transition: 1s ease;
    position: absolute;
    top: 0 !important;
    left: 0;
    width: 496px;
    height: 320px;
    z-index: 0;
    transform: scale(var(--scale));
    transform-origin: left top;
    display: flex;
    justify-content: space-between;
}
#photo-hands {
    position: absolute;
    top: 20% !important;
    width: 480px;
    height: 320px;
    z-index: 0;
    transform: scale(var(--scale));
    transform-origin: top left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s ease;
}
#hands > div {
    width: 50px;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    border: 3px solid #fff;
    outline: 2px solid #000;
}
#photo-hands > div {
    padding: 2px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    outline: 1px solid #000;
}
#photo-hands > div > div {
    height: 15px;
}
#photo-div,
#next-photo-div {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s ease;
    border-image-source: url("../images/album/photo.png");
    border-image-slice: 23 22 87 20;
    border-image-width: 10px 10px 43px 10px;
    border-width: 10px 10px 35px 10px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    background-color: #d7dbdf;
    border-style: solid;
}
#next-photo-div {
    opacity: 0;
    top: 50%;
    left: 55%;
    transition: 0.4s;
    position: absolute;
    pointer-events: none;
}
.thumb-div {
    border-image-source: url(../images/album/photo_small.png);
    border-image-slice: 6 6 20 6;
    border-image-width: 5px 5px 20px 5px;
    border-width: 5px 5px 10px 5px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    background-color: #d7dbdf;
    border-style: solid;
    filter: blur(0.3px);
    cursor: pointer;
}
.photo-side {
    display: flex;
    align-items: center;
    min-height: 90px;
}
.photo-side > div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photo-side-right {
    flex-direction: row-reverse;
}
.photo-side-left .thumb-text {
    margin-right: 15px;
}
.photo-side-right .thumb-text {
    margin-left: 15px;
}
.thumb {
    max-width: 72px;
    max-height: 64px;
}
.thumb-text {
    color: #8f8a8d;
    font-size: 10px;
    font-family: "Indie Flower";
    user-select: none;
    max-width: 110px;
    word-break: break-word;
    filter: blur(0.1px);
}
#left {
    background-image: url("../images/album/page_left2.png?");
    transform-origin: right;
}
#right {
    background-image: url("../images/album/page_right2.png?");
    transform-origin: left;
}
#photo,
#next-photo {
    max-height: 25vh;
    max-width: 25vh;
}
#sides {
    position: absolute;
    z-index: 2;
}
#sides,
#low-sides {
    width: 100%;
    height: 100%;
    display: flex;
}
#sides > div,
#low-sides > div {
    width: 100%;
    will-change: transform;
    transition: 1s ease-in-out;
}
#sides > div > div,
#low-sides > div > div {
    will-change: transform;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
#low-sides {
    position: absolute;
    z-index: 1;
}
.key {
    border: 2px solid #fff;
    border-right-color: lightgray;
    border-bottom-color: lightgray;
    border-radius: 4px;
    background-color: #1d1c1d;
    color: #fff;
    font-family: "MS UI Gothic", sans-serif;
    font-weight: bolder;
    font-size: 19px;
    padding: 4px 9px;
    user-select: none;
    cursor: pointer;
    user-select: none;
}
#text-box {
    position: fixed;
    bottom: 10px;
    width: 70%;
    max-width: 200px;
    padding: 5px;
    padding-top: 5px;
    font-size: 20px;
    color: #fff;
    font-family: "Margarine";
    background-color: #000;
    border: 3px solid #fff;
    outline: 1px solid #000;
    left: 50%;
    transform: translate(-50%) rotate3d(1, 1, 1, 1deg);
    font-size: 10px;
    z-index: 2;
}
#photo-date {
    opacity: 0;
    position: fixed;
    bottom: 20px;
    padding: 0px 10px 2px 10px;
    font-size: 20px;
    color: #fff;
    font-family: "Margarine";
    background-color: #000;
    border: 3px solid #fff;
    outline: 2px solid #000;
    left: 50%;
    transform: translate(-50%) rotate3d(1, 1, 1, 1deg);
    font-size: 12px;
    transition: 0.5s;
    z-index: 1;
}
#no-desc {
    position: fixed;
    bottom: 90px;
    padding: 0px 10px 2px 15px;
    font-size: 20px;
    color: #fff;
    font-family: "Margarine";
    background-color: #000;
    border: 3px solid #fff;
    outline: 2px solid #000;
    left: 50%;
    transform: translate(-50%) rotate3d(1, 1, 1, 1deg);
    font-size: 46px;
    transition: 0.5s;
    z-index: 1;
}
#text {
    outline: none;
}
#left-hand,
#right-hand,
#photo-left-hand,
#photo-right-hand {
    cursor: pointer;
    user-select: none;
}
#left-hand img,
#photo-left-hand img {
    transform: rotateY(180deg);
    transform-origin: center;
}
#hands .key {
    font-size: 10px;
    padding: 2px 4px 3px 6px;
    transform: rotate3d(1, 1, 1, 1deg);
    border-width: 1px;
    filter: blur(0.3px);
}
#hands > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 3px;
}

#selector-hand {
    position: absolute;
    z-index: 4;
    transform-origin: center;
    animation: handmove 0.9s infinite ease-in-out;
    user-select: none;
}
#selector-hand > img {
    width: 24px;
}
@keyframes handmove {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(5px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

