:root {
  --border-color: #000000;
  --dialog-background: #ffffff;

  --menu-background: #ffffff;
  --menu-border-color: #000000;
  --menu-font-color: #000000;
  --menu-selected-background: #000000;
  --menu-selected-color: #ffffff;
  --scale: 50%;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.game-container {
  position: relative;
  background: #000000;
  width: 250px;
  height: 245px;
  transform: scale(2);
  transform-origin: top left;

}

.game-container canvas {
  image-rendering: pixelated;
}