@font-face { 
  font-family: WinXP;
  src: url('resources/win.woff');
}
@font-face {
  font-family: DefaultSerif;
  src: url('resources/noto-sans.woff2');
}
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-image: url('resources/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'DefaultSerif', Helvetica, Arial Narrow, sans-serif;
  -webkit-font-smoothing: antialiased;
}
::selection {
  background-color: #0055EA;
  color: #FFF;
}
i {
  opacity: 0.60;
}
li {
  margin: 5px;
}
.btn_wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#BCD4F6, #6982EE);
  padding: 0;
  margin: 5px;
  border-radius: 3px;
  border: solid 1px #003C74;
}
.btn_wrap:active {
  background: linear-gradient(#FA7, #C50);
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: inherit;
  background-color: #F2F2ED;
  color: #000;
  border-radius: 3px;
  margin: 2px;
  padding: none;
  min-width: 75px;
  font-size: 10pt;
  font-family: WinXP;
}
.button > span {
  width: 90%;
  text-align: center;
  border-radius: 3px;
  margin: 2px;
  user-select: none;
}
.button:hover {
  background: #F2F2ED;
}
.button > span:hover {
  outline: dotted 1px #333;
}
#taskbar {
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
  background-color: #0055EA;
  height: 35px;
  width: 100vw;
  box-shadow: 0 2px 3px #3888E9 inset;
  border-top: none;
}
#startBtnWrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  float: left;
  height: 100%;
  width: 100px;
  background-color: #198C19;
  color: #FFF;
  font-size: 15pt;
  font-weight: bolder;
  font-style: italic;
  font-family: 'DefaultSerif', Helvetica, Arial Narrow, sans-serif;
  position: relative;
  bottom: 0;
  left: 0;
  border: solid 1px #0E410E;
  border-top: none;
  border-right: none;
  box-shadow: 0 0 3px #000 inset;
  user-select: none;
  cursor: pointer;
}
#startBtnWrap:after {
  content: " ";
  display: inline-block;
  height: inherit;
  width: 10px;
  background-color: inherit;
  border-right: solid 1px #0E410E;
  border-radius: 50%;
  position: absolute;
  left: 95px;
  top: 0;
  box-shadow: -3px 0 3px #0E410E inset;
}
#startIco {
  display: inline-block;
  height: 15pt;
  width: 15pt;
  margin-right: 5px;
  user-select: none;
}
#startMenu {
  display: none;
  position: fixed;
  left: 0;
  bottom: 35px;
  z-index: 500;
  width: 350px;
  height: 500px;
  max-height: 100vh;
  max-width: 100vw;
  /* background-color: #0055EA; */
  background: linear-gradient(#0055EA, #3888E9, #3888E9, #3888E9, #3888E9, #3888E9, #3888E9, #0055EA);
  box-shadow: 0 2px 3px #3888E9 inset,  0 -1px 2px #333 inset;
  border: solid 2px #0055EA;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  
}
#startMenu > #accountBackdrop {
  height: 100px;
  width: auto;
  
}
#startMenuContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 125px);
  width: calc(100% - 2px);
  background-color: #87ABD7;
}
#startMenuContent > #left {
  background-color: #FFF;
  height: 100%;
  width: 50%;
}
#startMenuContent > #right {
  background-color: #D3E5FA;
  height: 100%;
  width: calc(50% - 2px);
  margin-left: 2px;
}
#startMenuFooter {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #FFF;
}
.winBody::-webkit-scrollbar, .winBody ::-webkit-scrollbar {
     width: 20px;
}
.winBody::-webkit-scrollbar-track, .winBody ::-webkit-scrollbar-track {
  border-radius: 0;
  background: linear-gradient(90deg, #DDD, #FEFEFB);
}
 
.winBody::-webkit-scrollbar-thumb, .winBody ::-webkit-scrollbar-thumb {
  background: #C3D3FD; 
  border: solid 1px #EEE;
  border-radius: 2%;
  box-shadow: 0 0 1px #7C9FD3, 0 0 5px rgba(126, 159, 211, 0.5) inset;
}
.winBody::-webkit-scrollbar-button:single-button, .winBody ::-webkit-scrollbar-button:single-button {
  background: #C3D3FD;
  width: calc(100% - 2px);
  border: solid 1px #EEE;
  border-radius: 2%;
  box-shadow: 0 0 5px rgba(126, 159, 211, 0.5) inset;
  min-height: 20px;
}
.winBody::-webkit-scrollbar-button:hover, .winBody ::-webkit-scrollbar-button:hover {
  background: #7C9FD3;
  
}
.scrollbarHidden::-webkit-scrollbar, .scrollbarHidden ::-webkit-scrollbar {
  display: none;
  width: 0;
}
.scrollbarHidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.menuSysOption {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: calc(90% - 10px);
  padding: 3px;
  margin: 2px;
  border: solid 1px transparent;
  border-radius: 3px;
  font-size: 10px;
  cursor: pointer;
}
#shutdown {
  cursor: not-allowed;
}
.menuSysOption:hover {
  border: solid 1px #3888E9;
}
.menuIcon {
  display: inline;
  width: 21px;
  height: 20px;
  margin: 2px;
}
.startItemApp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3px;
  cursor: pointer;
  background-color: inherit;
  color: #000;
  font-family: 'DefaultSerif', Helvetica, Arial Narrow, sans-serif;
  font-size: 12px;
  margin: 3px;
}
.startItemApp:hover {
  background-color: #2E69D1;
  color: #FFF;
}
.startItemIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
}

#activeApplications {
  padding-left: 15px;
  display: inline-block;
  width: 80%;
}
.taskbarAppBtn {
  color: #FFF;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  height: 15px;
  width: 100px;
  overflow: hidden;
  background-color: #3287F1;
  box-shadow: 1px 1px 2px #60ACFF inset, -1px -1px 2px #3287F1 inset;
  border: solid 1px #3287F1;
  border-radius: 5px;
  margin-left: 3px;
  padding: 7px;
  user-select: none;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  position: relative;
}
.taskbarAppBtnActive {
  color: #FFF;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  height: 17px;
  width: 100px;
  overflow: hidden;
  background-color: #1f69ec;
  box-shadow: 0px 0px 2px #111 inset, -1px 0 1px #000;
  border: none;
  border-radius: 5px;
  margin-left: 3px;
  padding: 7px;
  user-select: none;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  position: relative;
}
.taskbarAppBtnActive:after { 
  content: "";
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  border-right: solid 1px #3287F1;
}
.taskbarAppBtn:after {
  content: "";
  width: 100%;
  height: 100%;
  padding: 0;
  background: linear-gradient(90deg, transparent, transparent, transparent, #3287F1);
  position: absolute;
  left: 0;
  top: 0;
  border-right: solid 1px #3287F1;
}
#desktopGrid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#desktopGrid td {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  margin: 5px;
  background-color: transparent;
  font-family: 'DefaultSerif', Helvetica, Arial Narrow, sans-serif;
}
#desktopGrid td:focus-within {
  outline: dotted 1px #000;
  background-color: rgba(0, 85, 234, 0.3);
}
.shortcuts {
  text-align: center;
  font-size: 10px;
  height: 100%;
  width: 100%;
  overflow: visible;
}
.dtAppIco {
  display: inline-block;
  width: 50px;
  cursor: pointer;
  border-radius: 2px;
}
.dtAppBtnTxt {
  display: inline-block;
  min-width: 50px;
  cursor: default;
  /* word-break: break-all; */
  color: #FFF;
}
*::-webkit-resizer {
  cursor: nwse-resize;
}
#dateTime {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: inherit;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: #2197EF;
  padding-left: 10px;
  width: 75px;
  box-shadow: 0 2px 3px #3888E9 inset;
}
#dateTime:before {
  content: "<";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 7pt;
  font-family: 'DefaultSerif', Helvetica, Arial Narrow, sans-serif;
  font-weight: bold;
  color: #FFF;
  height: 10pt;
  width: 10pt;
  border-radius: 50%;
  border: solid 1px #0055EA;
  position: absolute;
  left: -5pt;
  top: calc(50% - 5pt);
  background: linear-gradient(45deg, #70BFDE, #0B72E9)
}
#dateTime p {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 10pt;
  width: inherit;
  color: #FFF;
  font-family: 'DefaultSerif', Helvetica, Arial Narrow, sans-serif;
  font-size: 10px;
  font-weight: normal;
  margin: 0;
  margin-right: 5px;
  padding: 0;
  user-select: none;
  cursor: default;
}